//Backgrounds Color
.bg-app{
  background-color: $color-primary;
}

.bg-secondary-app{
  background-color: $color-secondary;
}

.bg-secondary-light{
  background-color: $color-secondary-light;
}

.bg-secondary-dark{
  background-color: $color-secondary-dark;
}

.bg-red{
  background-color: $color-red;
}

.bg-red-light{
  background-color: $color-red-light;
}

.bg-green{
  background-color: $color-green;
}

.bg-blue-navy{
  background-color: $color-blue-navy;
}

.bg-blue-navy-light{
  background-color: $color-blue-navy-light;
}
//
//.bg-blue-dark{
//  background-color: $color-blue-dark;
//}

a, a:hover{
  color: darken($color-primary-light, 40%);
}

//Animations
.animated-1{
  animation: bounce infinite linear 0.8s;
  transform-origin: 50% 50%;
}

.animated-2{
  animation: pulse infinite linear 0.8s;
  transform-origin: 70% 70%;
  display: inline-block;
}

.vh-center {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alert-container{
  margin: 1.2rem auto -1.6rem auto;
  text-align: center;
  width: 48%;

  @include responsive(tab-port){
    width: 100%;
  }
}

.hide{
  display: none;
}

.box-heading{
  @extend .heading-1;
  border-left: 0.8rem solid $color-primary;
  padding: 0.5rem 0 0.5rem 1rem;
  box-shadow: inset 0.1rem -0.05rem 0 0 $color-primary;
  margin-bottom: 1.2rem;
}
